
 @charset "utf-8";
 *{
    margin: 0;
    padding: 0;
    outline: none;
}

html {height: 100%}

body {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #D0D7FE;
}

a {

}


