
 @charset "utf-8";
 body {
    margin: 0;
    padding: 0;
    background-color: #D0D7FE;
}

.container {
    background-color: #fff;
    width: 80%;
    margin: 120px auto;
    padding-bottom: 120px;
}

.title {
    text-align: center;
    padding-top: 10%;
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 133%;
    letter-spacing: 0.035em;
    color: #09165F;
}

.form-todo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-input {
    width: 75%;
    height: 56px;
    background: #F3F5FF;
    border-radius: 50px;
    border: none;
    padding-left: 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B5B5B5;
}

.form-input::placeholder {
    color: #B5B5B5;
}

.form-input:focus-visible {
    outline: none;
}

.form-btn-plus {
    position: relative;
    right: 51px;
    padding: 0;
    height: 46px;
    width: 46px;
    border: 0;
    color: white;
    font-size: 30px;
    background-color:#536DFF;
    border-radius: 50px;
}
h4 {
    font-family: Inter;
    font-weight: 500 medium;
    color: #09165F;
    margin-top: 31px;
    margin-left: 21px;
    font-size: 16px;
    text-align: left;
}
.task {
    border-bottom: 1px solid #DADADA;

}